<h1><%= @response.business_name %></h1>
<% @violations.each do |violation| %>
  <ul>
    <li>
      <%= violation.violation_description %>
      <%= violation.inspection_score %>
    </li>
  </ul>
<% end %>
