<h1><%= link_to "#{@response.business_name}", get_yelp(@response) %></h1>
<hr>
<%= no_inspections(@response) %>
<% @inspections.each do |inspection| %>
  <%= render partial: "responses/inspection_table", locals: {inspection: inspection} %>
<% end %>
